<section class="messageContainer">
    <% locals?.messages?.forEach(message => { %>
        <article class = "msg">
            <div class = 'authorInfo'>
                <%= _.capitalize(message?.username) %> 
                <%= message?.status %>
                <% if (locals?.user?.status == "VIP" || locals?.user?.status == "ADMIN") { %>
                    <%= message?.date %>
                <% } %>

                <% if (locals?.user?.status == "ADMIN") { %>
                    <button class = 'deleteMsg' type = "submit" data-id = "<%=message.id%>">Delete </button>
                <% } %>
            
            </div>
            <div class="messageBox">
               => <%= message?.message %>
            </div>
        </article>
        
    <% }); %>
 
</section>

<script>
    let deleteMsgBtn = document.querySelectorAll(".deleteMsg").forEach(
        (btn)=>{
            
            btn.addEventListener('click', (e)=>{
                const id = e.target.dataset.id;
                 fetch(`message/${id}`,{
                    method: 'DELETE'
                 }).then(
                    res=> {
                        if (res.ok){
                            e.target.closest('.msg').remove();
                        }
                    }
                 ).catch(err => console.lof(err))
            })


        }
    )

   


</script>